<!DOCTYPE HTML>
<html ng-app="notesApp">
    <head>
        <meta charset="utf-8">

        <!-- Titulo da aba -->
        <title>Simple Form</title>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>

    <body ng-controller="MainCtrl as ctrl">

        <!-- Titulo da pagina -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Iniciando formularios em AngularJS</h1>
            </div>
        </div>

        <h1>&nbsp;</h1>

        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">

                <!-- Formulario -->
                <form ng-submit="ctrl.submit()">

                    <!-- Input login -->
                    <div class="form-group">
                        <label class="label-control">Usuário</label>
                        <input type="text" ng-model="ctrl.user.login" class="form-control" />
                    </div>

                    <!-- Input password -->
                    <div class="form-group">
                        <label class="label-control">Senha</label>
                        <input type="password" ng-model="ctrl.user.pwd" class="form-control" />
                    </div>

                    <!-- Submit -->
                    <div class="row">
                        <div class="col-lg-offset-8 col-lg-4">
                            <input type="submit" value="Enviar" class="btn btn-block btn-primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>





        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script type="text/javascript">
            angular.module("notesApp", [])
                .controller("MainCtrl", [function() {
                    var self = this;

                    self.submit = function() {
                        console.log('Dados: ', self.user);
                    };
                }]);
        </script>
    </body>
</html>
